.Badboys {
    background-color: red; 
    color: white;
}
.Goodboys {
    background-color: blue;
    color: white;
}
#elpadre {
    font-size: 150%;
}
#elhijo {
    font-style: italic;
}
.soldados {
    letter-spacing: 1em;
    border-style: dashed solid;
    border-color: wheat;
}
.centrado {
    text-align: center;
}
.mayus {
    text-transform: uppercase;
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png);
}
.cambio {
    color: white;
} 
